.dividerBoxStyle {
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 0.3em 0.8em;
  font-weight: 700;
  text-align: center;
  font-size: 1.25em;
  color: #555;
  text-transform: uppercase;
}
/* 
.rowStyle {
  margin-left: "15%";
  margin-right: "150px";
  padding-top: "0px";
} */
