/* 
.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 1024;
  height: 200px;
  margin-right: 10px;
  margin-left: 16%;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
 */

 .contentStyle {
  margin-left: auto;
  margin-right: auto;
  height: 248px;
  display: flex;
  width: initial;
  vertical-align: middle;
  position: relative;
  margin: -32px 0px - 33px 0px;
  padding: 0px 0px 0px 0px;
  box-sizing: border - box;
}
